@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
  background-color: #21ADA5; 
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 1%;
  margin: 1%;
  border-radius: 15px;
}

.logo {
  text-align: left;
  width: 10%;
  height: 25%;
  border-radius: 35px;
  padding: 1%;
}

.pictures {
  width: 50%;
  height: 50%;
  padding: 1%;
  border-radius: 35px;
}

.hidden {
  visibility: hidden;

}

.container {
  text-align: center;
}

.search {
  width: 100%;
  height: 100%;
}

/* ---------------- Header --------------- */

.headerStyle {
  color: #423A3F;
  padding: 20px;
  background-color: #F7B733;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 15px;
}

/* -------------- Login ---------------- */

.landing{
    font-family: 'Raleway', sans-serif;
    background-color: #1abc9c;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
}

.card > form {
    display: flex;
    flex-direction: column;
}

.card h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-item{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin-bottom: 2rem;
    height: 30px;
    width: 16rem;
    border: 1px solid grey;
}

.form-submit{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    height: 35px;
    color: #423A3F, bold;
    background-color: #F7B733;
    border: none;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
    border-radius: 15px;
}
.form-submit:hover{
   opacity: 0.6;
   border-radius: 15px;
}


/* -------------------- Search Bar (provided from codepen/Omar Sherif) ------------- */
.searchBox {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 25%;
  left: 50%;
  transform:  translate(-50%,50%);
  background: #FF6B6C;
  height: 40px;
  border-radius: 40px;
  margin: 1%;
  padding: 5px;

}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: white;
color : #423A3F;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #423A3F;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}