default: &default
  adapter: postgresql
  pool: 5 # Specifies the maximum number of connections that can be opened
  timeout: 5000 # in milliseconds. This is how long the app will wait for a database response
  encoding: unicode

development:
  <<: *default # inherits from default
  database: picklyapp_development

test:
  <<: *default
  database: picklyapp_test

production:
  <<: *default
  database: picklyapp
